//背景图片设置
body {
    background-image: url(/images/huohuo-websitebg.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 60%;
    background-size:cover;
}

//文章透明度设置
.content-wrap {
  opacity: 0.65;
}
//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.65;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.65);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.65;
}
